[extractconfig]

postgresql_user     = mschnelzer
postgresql_password = 4d-dw4hl4
postgresql_db       = bat_knowledge_base
postgresql_port     = 5432
postgresql_host     = 192.168.102.24

[supportedlanguages]

C 					= yes
CSharp				= yes
Java				= yes
JavaScript			= yes
Php					= yes
Python				= yes
Ruby				= yes
ActionScript		= yes